#![enable(implicit_some)]

(
    name: Name("Haku"),
    body: RandomWith("humanoid"),
    alignment: Alignment(Enemy),
    loot: LootTable("common.loot_tables.dungeon.mage_tower.enemy"),
    inventory: (
        loadout: Inline((
            inherit: Asset("common.loadout.spots.wizard_tower.wizard_boss"),
            active_hands: InHands((Item("common.items.npc_weapons.sceptre.sceptre_velorite_mage"), None)),
        )),
    ),
    meta: [
        SkillSetAsset("common.skillset.preset.rank5.fullskill"),
    ],
)